/* .container {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-columns: auto repeat(3,150px);
    grid-template-rows: 100px 200px;
    gap: ;
    lines: ;}
 */

 /* .container {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-areas: 
      "header header header header"
      "main main . slider"
      "footer footer footer footer";
  }
  
  .item-a { 
    grid-area: header; 
    background: red;
  }
  
  .item-b { 
    grid-area: main; 
    background: blue;
  }
  
  .item-c { 
    grid-area: slider; 
    background: green;
  }
  
  .item-d { 
    grid-area: footer; 
    background: orange;
  } */

  /* .container {
    display: grid;
    grid-template-columns: repeat(5, 20px);
    grid-template-areas: 
      "uno uno .   .   ."
      ".   .   dos tres tres"
      "cuatro cuatro dos .  ."
      "cuatro cuatro dos . .";
  }
  
  .item-a { 
    grid-area: uno; 
    background: red;
  }
  .item-b { 
    grid-area: dos; 
    background: blue;
  }
  .item-c { 
    grid-area: tres; 
    background: green;
  }
  .item-d { 
    grid-area: cuatro; 
    background: orange;
  } */

  .container {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    width: fit-content;
  }
.item {
    width: 110px;
    height: 110px;
  }
  
  .item-a { 
    grid-column: 1 / 3; /* columnas 1 y 2 */
    grid-row: 1 / 5;    /* fila 1 */
    background: red;
  }
  .item-b { 
    grid-column: 3 / 5; /* columnas 3 y 4 */
    grid-row: 1 / 2;    /* fila 1 */
    background: blue;
  }
  .item-c { 
    grid-column: 1 / 5; /* toda la fila */
    grid-row: 2 / 3;    /* fila 2 */
    background: green;
  }
  .item-d { 
    grid-column: 1 / 2; /* columna 1 */
    grid-row: 3 / 4;    /* fila 3 */
    background: orange;
  }
  .item-e { 
    grid-column: 2 / 4; /* columnas 2 y 3 */
    grid-row: 3 / 4;    /* fila 3 */
    background: skyblue;
  }
  .item-f { 
    grid-column: 4 / 5; /* columna 4 */
    grid-row: 3 / 4;    /* fila 3 */
    background: pink;
  }
  .item-g { 
    grid-column: 1 / 5; /* toda la fila */
    grid-row: 4 / 5;    /* fila 4 */
    background: yellow;
  }