@import url('');

* {
  font-family:  sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: ??;
  padding: ??;
}

/* MENU: NAVBAR/HEADER */

nav {
  background-color: ??;
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: ??;
}

nav ul li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%;
  text-align: center;
}

nav ul li a {
  color: #eeeeee;
  text-transform: ??;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
  display: block;
  padding: 5px;
}

nav ul li a:hover {
  background-color: ??;
}

/* SECTION MAIN IMAGE */

#section-main-image {
  height: 65vh;
  background-image: url('??');
  background-repeat: ??;
  background-size: cover;
  width: 100%;
  display: ??;
  align-items: ??;
  justify-content: ??;
  flex-direction: column;
}

#section-main-image h1 {
  color: ??;
  margin: 0;
  font-size: ??px;
}

#section-main-image h2 {
  color: white;
  text-shadow: ??
}


.profile-picture {
  max-height: ??;
  align-content: ??;
  border-radius: ??;
  box-shadow: ??;
  border: ??;
}

/* SECTION SECCIONES */

#article-secciones h2 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#article-products h2 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.article-section-secciones p {
  text-align: ??;

}

.article-section-secciones p::first-letter {
  font-size: ??
 ??
}

#section-secciones {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}




/*EXPERIENCIA*/
.list-wrapper-experiencia {
  width: ??;
  max-width: ??;
  margin: auto;
}

/* List component */
.list-experiencia {
  background-color: ??;
  list-style: circle;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: ??;
}

.list-experiencia .list-item-experiencia {
  display: ;
  padding: 0px 0px;
}

.list-experiencia .list-item-experiencia:not(:last-child) {
  border-bottom: ??;
}

/*list item image wrapper*/
.list-experiencia .list-item__image-experiencia {
  flex-shrink: 0;
  height: 80px;
}

.list-experiencia .list-item__image-experiencia img {
  border-radius: ??;
  width: 0x;
  height: 0;
  padding: 0;
  box-shadow: ??;
}

/*list item content*/
.list-experiencia .list-item__content-experiencia {
  flex-grow: ??;
  padding: 0;
}

.list-experiencia .list-item__content-experiencia h4 {
  margin: 0;
 ??
}

.listexperiencia .list-item__content-experiencia p {
  ??
}

/*CONOCIMIENTOS*/
.contenedor-conocimientos {
  display: ??;
  justify-content: ??;
}

.card-conocimientos {
  display: flex;
  flex-direction: ??;
  font-family: ??;
  box-shadow: ??;
  border: 0;
 ??
}

.cuerpo-conocimientos {
  flex: 1 1 0;
  ??  
}

.title-conocimientos {
  background:??;
  display: ;
  color: white;
  align-items: ;
  justify-content: ;
  height:0;
}

.pie-conocimientos {
  background:??;
  display: ;
  color: white;
  align-items: ;
  justify-content: ;
  height: 0;
}



/*RECONOCIMIENTOS*/
.nav-datos {
  display: grid;
  grid-template-columns: 0px auto;
}

.datos {
  padding: 10px;
  border-radius: 15px;
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
}


.ampliar2 {
  grid-column: 1/3;
}

.estirar2 {
  grid-row: 2/7;
}

.titulo {
  background-color: #34495E;
  color: white;
}

.detalle1 {
  background-color: rgba(171, 194, 235, 0.3);

}

.detalle2 {
  background-color: rgb(242, 243, 244);

}

.clsinput {
  border-radius: 3px;
  border-width: 0.3px;
  border-color: #34495E;
  width: 90%;
}

.clsbuttom {
  margin-top: 15px;
  color: #212F3C;
  padding: 2px 30px;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

/* FOOTER CONTACT */

#footer-contact {
  background-color: ??;
  color: #??;
  display: ;
  justify-content: ;
}

#footer-contact .contact-data {
  display: ;
  justify-content: space-between;
}

.container-footer {
  width: 80%;
  padding: 0px 0px;
}

.contact-info li {
  font-size: 12px;
  padding: 10px;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #74a0cc;
}

.contact-form form {
  margin-left: 50px;
  text-align: left;
}

.contact-form form .form-control {
  padding: 10px 0;
}

.contact-form form .form-control input {
  ??
}

.contact-form form .form-control textarea {
  ??
}

.contact-form form .form-control label {
  margin-right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.contact-form form button {
  margin-top: 15px;
  color: #212F3C;
  padding: 2px 30px;
}