html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --color-borde: #e5e7eb;
    --color-texto-secundario: #9aa5b1;
}

/* BODY */
body {
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f7fa;
}

/* TITULO */
h1 {
    text-align: center;
    margin: 30px 0;
}

/* CONTENEDOR */
.container {
    width: 80%;
    margin: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* TABLA */
.table-custom {
    width: 100%;
    border-collapse: collapse;
}

/* HEADER */
.table-custom thead {
    text-transform: uppercase;
    color: var(--color-texto-secundario);
}

.table-custom thead tr {
    border-bottom: 1px solid var(--color-borde);
}

.table-custom th {
    font-size: 12px;
    text-align: left;
    padding: 15px 20px;
}

.table-custom tbody tr {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--color-borde);
    transition: background-color 0.3s ease;
}

.table-custom tbody tr:hover {
    background-color: rgb(240, 240, 240);
}

.table-custom td {
    padding: 15px 20px;
    text-align: left;
}

.user {
    overflow: hidden;
}

img {
    width: 50px;             
    height: 50px;
    border-radius: 100%;

    float: left;
    margin-right: 13px;
    margin-top: 5px;
}


.user-info {
    display: flex;
    flex-direction: column;
}

.user-info span:last-child {
    font-size: 12px;
    color: rgb(231, 16, 16);
}


.badge {
    display: inline-block;
    padding: 7px 15px;                 
    background-color: rgb(5, 219, 5);         
    color: rgb(0, 184, 92);
    border-radius: 20px;
    font-size: 12px;
}


.edit {
    display: inline-block;
    color: rgb(243, 6, 6);
    cursor: pointer;
}

.edit:hover {
    text-decoration: underline;
}
.box {
    background: #2a7b9b;
    background: linear-gradient(
        90deg,
        rgba(42, 123, 155, 1) 0%,
        rgba(87, 199, 133, 1) 50%,
        rgba(237, 221, 83, 1) 100%
    );

    width: 250px;
    height: 150px;
    border-radius: 50px;
    corner-shape: scoop;
}