* {
    font-family: sans-serif;
  }
  
  html {
    background-color: rgb(245, 245, 245);
  }
  
  h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
  }
  
  h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;
  }
  

  p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  li {
    font-family: monospace;
    font-size: 18px;
    list-style: none;
    padding: 10px;
  }
  

  ul {
    margin-left: 100px;
    padding: 20px;
    border: 2px solid blue;
    max-width: 40%;
  }
  
  a {
    font-weight: bold;
  }
  
  li a {
    color: orange;
    text-decoration: underline;
  }
  
  li.verde {
    color: green;
  }
  
  li.verde a {
    color: green;
  }
  
  li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }